li a {
    color: green;
    font-size: 22px;
}
body {
    background: white url("images/background.png") no-repeat;
}
li {
    font-size: 22px;
}
input {
    font-size: 15px;
}
label {
    font-size: 22px;
}
a {
    color: red;
    font-size: 30px;
}

/* .container {
  width: 100%;
  background-color: #ddd;
  shape-margin: 10px;
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.percent {
    background-color: #04AA6D;
    border-radius: 5px;
} */