li a {
    color: green;
    font-size: 22px;
}
body {
    background: white url("images/background.png") no-repeat;
}
li {
    font-size: 22px;
}
input {
    font-size: 15px;
}
label {
    font-size: 22px;
}
.error_msg {
    color: red;
    font-size: 30px;
}
.pollsQuestions {
    font-size: 26px;
    color: #0f6828;
}
table, th, tr {
    border: 1px solid ghostwhite;
    border-collapse: collapse;
    width: 100%;
}
.head{
    font-size: 28px;
    color: green;
    width: 50%;
}
.data{
    font-size: 24px;
    color: black;
    width: 50%;
}
tr:nth-child(odd) {
    background-color: lightblue;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
}
.myDiv {
    border: 10px outset #007064;
    background-color: #acc100;
    text-align: center;
}
.welcomeText{
    font-size: 21.5px;
    color: #0f6828
    ;
}
.welcomeContainer{
    float: right;
}
#bloc1, #bloc2
{
    display: inline;
}

#div1, #div2{
    display: inline;
}

.time{
    font-size: 20px;
    color: #849500;
}

.pubDate{
    font-size: 18px;
    font-style: italic;
    color: #849500;
}